html,
body {
	margin: 0;
	height: 100%;
}


.layui-tab-item {
	height: 100%;
}


.map-edit-container {
	width: 100%;
	height: 100%;
	/* background-color: #DEDEDE; */
}

#map {
	height: 100%;
	width: 100%;
}

.bottom-left-menu {
	/* border: 1px solid red; */
	height: 100%;
}

.bottom-right-menu {
	/* border: 1px solid blue; */
	height: 100%;
}

.map-index-500 {
	z-index: 500;
}

.map-float-right {
	float: right;
}

.map-left-menu {
	/* position: absolute;
	float: left;
	height: 100%;
	width: 100%; */
	height: 100%;
	background-color: white;
}

/**
 * 左菜单，上下文
 */
.map-left-menu-content {
	/* margin: 2% auto;
	width: 95%;
	height: 95%; */
}

/**
 * 左菜单，按钮组
 */
.map-left-menu-btn-group {
	/* border: 1px solid blue; */
	/* margin-top: 5px; */
	padding: 10px;
}

/**
 * 左菜单
 */
.map-left-menu-resource-panel {
	/* margin-top: 2%; */
	/* width: 100%; */
	padding: 10px;
	height: 90%;
	/* border: 1px solid pink; */
}

.left-layer-item {
	margin-top: 5px;
}

.left-layer-item-menu {
	position: relative;
	top: -100%;
	/* right: -2px; */
	left: 40%;
}

.left-layer-shape-item {
	/* border: 1px solid #01AAED; */
	padding-left: 5px;
}

.left-layer-shape-item-text {
	    /* width: 50%; */
	display: inline;
	font-size: 12px;
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 5px;
	position: relative;
	left: 60%;
	top: -24px;
	
}

.left-layer-shape-item-menu {
	float: right;
}

.map-right-menu {
	height: 95%;
	padding: 20px;
	/* border: 1px solid #ddd; */
}

.map-left-menu-resource-tree {
	/* border:1px solid #ddd; */
	padding-bottom: 5px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.polyline-menu {
	border: 1px solid #eee;
	/* width: 100%; */
	height: 150px;
	overflow-y: scroll;
}

.polyline-menu-item {
	/* border: 1px solid red; */
	padding: 5px;
	margin: 5px;
	background-color: #2F4056;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.polyline-menu-item:hover {
	background-color: #707890;
}

.circle-menu {
	overflow-y: auto;
	height: 175px;
}
    
.circle-menu-item {
	padding: 5px;
	margin: 5px;
	background-color: #2F4056;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.circle-menu-item:hover {
	background-color: #707890;
}

.shap-item-ul li{
	text-align: center;
	cursor: pointer;
	background-color:white;
	padding:5px;
	border-radius: 5px;
}

.shap-item-ul li:hover{
	background-color: #DEDEDE;
}
